<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <context:component-scan base-package="com.example.readwrite"/>

    <bean id="abstractDataSource" abstract="true" class="com.alibaba.druid.pool.DruidDataSource"
        init-method="init" destroy-method="close">
    </bean>

    <bean id="write_db" parent="abstractDataSource" >
        <property name="url" value="${write.jdbc.url}" />
        <property name="username" value="${write.jdbc.username}" />
        <property name="password" value="${write.jdbc.password}" />
    </bean>

    <bean id="read_db" parent="abstractDataSource">
        <property name="url" value="${read.jdbc.url}" />
        <property name="username" value="${read.jdbc.username}" />
        <property name="password" value="${read.jdbc.password}" />
    </bean>

    <!-- 数据源切换 -->
    <bean id="routingDataSource" class="com.example.readwrite.DynamicRoutingDataSource">
        <property name="read" ref="read_db" />
        <property name="write" ref="write_db" />
    </bean>

    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="routingDataSource" />
        <!-- 自动扫描domain目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.example.readwrite.entity" />
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>



    <!-- 使用自定义的事务管理器 -->
    <bean id="transactionManager" class="com.example.readwrite.DynamicDataSourceTransactionManager" >
        <property name="dataSource" ref="routingDataSource" />
    </bean>


    <tx:annotation-driven transaction-manager="transactionManager" order="1"/>
</beans>