<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.MybatisUserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.MybatisUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <!--    association 定义关联的属性,这种方式 需要sql把关联的数据查出来-->
        <association property="dept" javaType="com.example.demo.model.MybatisDept">
            <id column="dept_id" property="id" />
            <result column="deptname" property="deptname" />
        </association>
    </resultMap>


    <resultMap id="BaseResultMapBySelect" type="com.example.demo.model.MybatisUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <!--    association 分步查询  这种方式 不需要sql把关联的数据查出来  -->
        <association column="dept_id" property="dept" javaType="com.example.demo.model.MybatisDept"
            select="com.example.demo.mapper.MybatisDeptMapper.findById" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,dept_id,deptname
    </sql>

    <select id="findById" resultMap="BaseResultMap">
        select
        u.*,d.deptname
        from mybatis_user u
        left join mybatis_dept d on u.dept_id = d.id
        where u.id=#{id,jdbcType=INTEGER}
    </select>


    <select id="findByDeptId" resultMap="BaseResultMapBySelect">
        select
        id,name,dept_id
        from mybatis_user
        where dept_id=#{dept_id,jdbcType=INTEGER}
    </select>


    <select id="findByIdAssociationSelect" resultMap="BaseResultMapBySelect">
        select
        * from mybatis_user
        where id=#{id,jdbcType=INTEGER}
    </select>


    <select id="selectByExample" resultMap="BaseResultMapBySelect">
        select
        * from mybatis_user

        <!--  where 元素知道只有在一个以上的if条件有值的情况下才去插入“WHERE”子句。而且，若最后的内容是“AND”或“OR”开头的，where 元素也知道如何将他们去除。-->
        <where>
            <if test="id!=null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="name!=null">
                and name like #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="selectByExampleTrim" resultMap="BaseResultMapBySelect">
        select
        * from mybatis_user

        <trim prefix="where" prefixOverrides="and|or">
            <if test="id!=null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="name!=null">
                and name like #{name,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>


    <update id="updateByExample">
        update mybatis_user
        <!--        set 会自动去掉最后一个逗号 ","-->
        <set>
            <if test="id!=null">
                id=#{id,jdbcType=INTEGER},
            </if>
            <if test="name!=null">
                name=#{name,jdbcType=INTEGER},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>


    <update id="updateByExampleTrim">
        update mybatis_user

        <trim prefix="set" suffixOverrides=",">
            <if test="id!=null">
                id=#{id,jdbcType=INTEGER},
            </if>
            <if test="name!=null">
                name=#{name,jdbcType=INTEGER},
            </if>
        </trim>
        where id=#{id,jdbcType=INTEGER}
    </update>


    <!--    参数为list-->
    <select id="selectByIds" resultMap="BaseResultMapBySelect" parameterType="list">
        select
        * from mybatis_user
        where id in
        <foreach collection="list" index="index" item="item_id" open="(" close=")" separator=",">
            #{item_id,jdbcType=INTEGER}
        </foreach>
    </select>


    <!--    参数为array  使用 ArrayList -->
    <select id="selectByIdsArray" resultMap="BaseResultMapBySelect" parameterType="ArrayList">
        select
        * from mybatis_user

        <foreach collection="array" index="index" item="item_id" open="  where id in (" close=")"
            separator=",">
            #{item_id,jdbcType=INTEGER}
        </foreach>
    </select>

    <!--    参数为map -->
    <select id="selectByMap" resultMap="BaseResultMapBySelect" parameterType="map">
        select
        * from mybatis_user
        <foreach collection="example" index="key" item="item" open="  where " close="" separator="and">
            ${key} = #{item}
        </foreach>
    </select>


</mapper>